* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    line-height: 2;
    font-size: 20px;
}
h1{
    font-size: 45px;
    color: rgb(75, 75, 75);
}
h2{
    font-size: 30px;
    color: darkcyan;
    margin-bottom: 10px;
}
h3{
    font-size: 25px;
    margin-top: 8%;
}

nav{
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;
    display: flex;
    padding: 5px 10%;
    margin: 0;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 35px;
    position: relative;
 
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


/*---------------------------------------welcome-info--------------*/

.welcome-info{
    margin: 5%;
    columns: 2;
    text-align: left;
}

.welcome-info img{
    width: 100%;
    position: relative;
}

.welcome-info h1{
    color: darkcyan;
    padding-top: 20px;
    padding-bottom: 20px;
}
.welcome-info p{
    padding: 10px 0px
}


.button a{
    display: inline-block;
    text-decoration: none;
    color: darkcyan;
    border: 1px solid darkcyan;
    padding: 12px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 5px;
    margin-left: 0;

}
.button a:hover{
    border: 1px solid darkcyan;
    background: darkcyan;
    transition: 0.5s;
    color: white;
}

#Welcome .button{
    margin-top: 20px;
    margin-left: 0;
}
.button{
    margin: 5%;
}

/*--------------------------------------welcome-----------------------------*/
.campus{
    margin-top: 10%;
}
.campus h1{
    text-align: center;
}
.campus h3{
    color: darkcyan;
}
.campus p{
    text-align: center;
    margin: 5%;
    margin-top: 0;
}
.campus-col{
    margin: 5%;
    text-align: center;
    columns: 2;
}
.campus-col img{
    width: 100%;
}
.campus-col a{
    text-decoration: none;
    color: darkcyan;
}


/*--------------------------------------footer--------------------*/



.footer{
    text-align: center;
    padding: 20px;
    background: rgb(55, 54, 54);

}

.rader-item ul li{
    list-style: none;
    color: white;
    margin-top: 8px;
}
.rader-item ul li a{
    text-decoration: none;
    color: white;
}


.footer h4{
    margin-bottom: 10px;
    margin-top: 20px;
    color: white;
}

.footer p{
    color: white;
}
.icons .fa{
    color: white;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-heart-o{
    color: white;
}
nav .fa{
    display: none;
}

@media(max-width: 1200px){
    nav{
        display: block;
        align-items: center;
        background-position: center;
        padding: 20px;
    }
    nav img{
        width: 150px;
        
    }
    
    .button{
        padding: 12px 15px;
        text-align: center;

    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: gray;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        text-align: right;
        margin: 5px;
        padding-top: 0;
    }
    .nav-links ul{
        padding: 30px;

    }
    .welcome-info{
        align-items: center;
        text-align: center;
        columns: 1;
    }
    .welcome img{
        margin-top: 30px;
        padding-left: 0;
    }
    .campus{
        margin-top: 10%;
    }
    
    .campus-col{
        columns: 1;
    }
    
    
}

/*-----------------------------------blog--------------------*/

.intro{
    text-align: center;
    margin-bottom: 5%;
}
.blog{
    margin: 5%;
}

.blog-col {
    padding: 20px 12px;
    columns: 2;
    text-align: left;
}
.blog-col img{
    width: 100%;
}

@media(max-width: 1200px){
    .blog-col{
        columns: 1;
    }
}

/*-------------------------------accessibility----------------*/

.accessibility{
    margin: 5%;
}

.test-col{
    margin: 5%;
}

.test-col img{
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media(max-width: 700px){
    .test-col img{
        width: 100%; 
    } 
    
}

/*---------------------------technology-------------------*/
.technology-society{
    margin: 5%;
}

.technology{
    margin: 5%;
    columns: 2;
    column-gap: 10%;
}


.technology img{
    width: 100%;
}
.universal-design ul{
    margin-bottom: 8%;
}
.universal-design a{
    color: royalblue;

}

.universal-design ul li{
    list-style: none;
    border: 5px;
    background: rgb(240, 204, 0);
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 3%;
}
.universal-design ul li:hover{
    box-shadow: 0 0 20px 0px grey;
    cursor: pointer;
    transition: 0.5s;
}
.tech-sustainability a{
    color: royalblue;
}
@media(max-width: 1200px){
    .technology{
        columns: 1;
    }
}


/*---------------------------------fun------------------*/

.art{
    background-image: url(./assets/art.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;

}
.art nav{
    background-color: transparent;
}

.art nav img{
    display: none;
}
.art ul {
    margin-top: 5%;
    text-align: center;

}
.art-work{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.art-work p{
    margin: 5%;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 30px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 5px;
    margin-left: 0;
}

.fun-btn a:hover{
    border: 1px solid white;
    background: white;
    transition: 0.5s;
    color: rgb(151, 11, 11);
}

/*-------------------------art-contant------------------*/
#artContent{
    background: black;
} 

#artContent .fun-btn{
    margin-bottom: 0;
    padding: 5%;
}
.art-work h1{
    color: white;
}

.art-intro{
    color: white;
    padding: 5%;
    text-align: center;
}
.art-intro h1{
    color: #E71D73;
}
.art-col h2{
    padding-bottom: 5%;
    color: #E71D73;
}


.art-col{
    columns: 2;
    margin: 5%;
    color: white;
    margin-bottom: 0;
}
.art-col img{
    width: 80%;
    margin-bottom: 5%;
}
@media(max-width: 700px){
    .art-col{
        columns: 1;
        text-align: center;
    }
    #artContent .fun-btn{
        text-align: center;
    }
}