* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    background-image: url(./assets/logo.png);
    background-repeat: no-repeat;
    background-size: 4rem;
    position: relative;
}

.nav-links{
    text-align: right;
    padding-right: 10%;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
 
}
.nav-links ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*------------mid----*/

.product{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
}
.product-info{
    flex-basis: 48%;
    padding: 30px 2px;
}

.product-info img{
    width: 100%;
    position: relative;
}

.product-info h1{
    color: purple;
    padding-top: 40px;
}
.product-info p{
    padding-top: 20px;
    padding-bottom: 60px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: purple;
    border: 1px solid purple;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid purple;
    background: purple;
    transition: 1s;
    color: white;
}

/*------------footer-----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background: rgb(71, 71, 71);
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: white;
}
.footer p{
    color: white;
}
.icons .fa{
    color: white;
    margin: 0 13px;
    cursor: pointer
    padding 18px 0;
}
.fa-heart-o{
    color: white;
}
